<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Goals</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <section id="user-goals">
      <h2>{{ title }}</h2>
      <input type="text" placeholder="Input your Goal... " v-model="enteredGoalValue" >
      <button @click="addGoal" keyup.enter="addGoal">Add Goal</button>
      <p v-if="goals.length === 0">No goals have been add yet</p>
      <ul v-else>
        <li v-for="(goal,index) in goals" ::key=goal @click="removeGoal(index)">
          <p>{{ index +1  }}- {{goal}}</p>
          <input type="text" @click.stop >
        </li>
      </ul>
  </section>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./script.js"></script>
</body>
</html>